{% extends "base_dashboard.html" %}
{% block styles%}
  {{ super() }}
  <link href="{{ url_for('static', filename='build/css/custom.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
	<div class="row right_col" role="main">
    {% block messages %}
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          {% for category, message in messages %}
            {% if category == 'error' %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
              {% else %}
              <div class="alert alert-info" role="alert">{{ message }}</div>
              {% endif %}
          {% endfor %}
      {% endif %}
      {% endwith %}
    {% endblock messages %}
    <h1 class="col-md-offset-4">{{title}}</h1>
  	<div>
      <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
      	<p>{{_('All fields marked with * are required')}}</p>
          
        <script type="text/javascript">

            $("#add-player").on('click', function(event){
                //event.preventDefault();
                $.ajax({
                    url: "{{ url_for('users.add_player', username=current_user.username) }}",
                    type : "POST",
                    //dataType : 'json', // data type
                    data : $("#main-form").serialize(),
                    success : function(result) {
                        console.log(result);
                        $("#players").html(result);
                    },
                    error: function(xhr, resp, text) {
                        console.log(xhr, resp, text);
                    }
                });

                event.preventDefault();
                });
        </script>
    

        <form class="form"
          method="POST" 
          action="{{ url_for('users.create_tournament', username=current_user.username) }}" id="main-form">
        {{ form.hidden_tag() }}

          <div class="form-group col-sm-12 col-xs-12">
          {{ form.name.label }} {{ form.name(class="form-control", placeholder=_("Tournament Name")) }}
          </div>
          <div class="form-group col-md-4 col-sm-4 col-xs-12">
          {{ form.point_per_match.label}} {{ form.point_per_match(class="form-control") }}
          </div>
          <div class="form-group col-md-4 col-sm-4 col-xs-12">
          {{ form.match_per_round.label }} {{ form.match_per_round(class="form-control") }}
          </div>
          <div class="form-group col-md-4 col-sm-4 col-xs-12">
          {{ form.rounds_qty.label }} {{ form.rounds_qty(class="form-control") }}
          </div>
          <fieldset class="form-group col-md-8  col-sm-12 col-xs-12" aria-labelledby="players_fieldset">
            <span id="players_fieldset" class="h3">{{_('Players')}}</span>
            
            <div class="form-group col-xs-12">
            {{ form.players.label }} {{ form.players(class="form-control select2_group") }}
            </div>
            
            <span id="players">{% include '/users/players.html' %}</span>
            <div class="form-group">
                {{ form.add_player(id="add-player", class="btn btn-success btn-sm") }}
            </div>
          </fieldset>
        <div class="form-group col-md-8 col-sm-12 col-xs-12">{{form.submit(class="btn btn-primary btn-lg")}} {{form.cancel(class="btn  btn-danger btn-lg")}}</div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
