{% extends "base_dashboard.html" %}
{% block styles%}
  {{ super() }}
  <link href="{{ url_for('static', filename='build/css/custom.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
	<div class="row right_col" role="main">
    {% block messages %}
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          {% for category, message in messages %}
            {% if category == 'error' %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
              {% else %}
              <div class="alert alert-info" role="alert">{{ message }}</div>
              {% endif %}
          {% endfor %}
      {% endif %}
      {% endwith %}
    {% endblock messages %}
    <h1 class="col-md-offset-4 col-sm-offset-4 col-xs-offset-0">
    	{{_(title)}}
    	<span class="pull-right"><a href="{{url_for('users.create_tournament', username=current_user.username)}}" title="{{_('Create new tournament')}}"><i class="fa fa-plus-circle"></i></a></span>
    </h1>
    {% for tour in tours %}
    {% set is_closed = tour.closed %}
		<div class="panel {% if not is_closed %}panel-success{% else %} panel-danger{% endif %}">
		  <!-- Default panel contents -->
		  <div class="panel-heading">
		  	<a href="{{ url_for('users.tournament', username=current_user.username, id=tour.id) }}">
			  	<h2 class="panel-title">{{ tour.name }}</h2>
			  	<span>{{ tour.created | datetime('full') }}</span>
			  	{% if not is_closed %}
			  	<span class="label label-success pull-right">{{_('Playing now...')}}</span>
			  	{% else %}
			  	<span class="label label-danger pull-right">{{_('Finished')}}</span>
			  	{% endif %}
		    </a>
		  </div>
		  {% include "users/players_table.html" %}
		</div>
		{% endfor %}
  </div>
{% endblock %}