<!-- Table -->
<table class="table table-hover table-striped datatable-responsive full-width">
	<thead>
		<tr>
			<th data-priority="1" class="text-center all">{{_('Player')}}</th>
			<th data-priority="1" class="text-center all">{{_('Score')}}</th>
			<th class="text-center desktop tablet-l tablet-p">{{_('Total matches')}}</th>
			<th class="text-center desktop tablet-l tablet-p">{{_('Matches won')}}</th>
			<th class="text-center desktop tablet-l tablet-p">{{_('Matches lost')}}</th>
			<th class="text-center desktop tablet-l tablet-p">{{_('Sets won')}}</th>
			<th class="text-center desktop tablet-l tablet-p">{{_('Sets lost')}}</th>
		</tr>
	</thead>
	<tbody>
		{% for player in tour.players %}
		{% set sets = player.sets_played(tour.id)%}
		<tr>
			<td>{{player.playername}}</td>
			<td class="text-center">{{tour.scores_by_player().get(player.id, 0)}}</td>
			<td class="text-center">{{player.matches_played(tour.id)}}</td>
			<td class="text-center">{{player.matches_won(tour.id)}}</td>
			<td class="text-center">{{player.matches_lost(tour.id)}}</td>
			<td class="text-center">{{sets.won}}</td>
			<td class="text-center">{{sets.lost}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
