<!-- Table -->
<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th class="text-center">{{_('Player')}}</th>
			<th class="text-center">{{_('Total matches')}}</th>
			<th class="text-center">{{_('Matches won')}}</th>
			<th class="text-center">{{_('Matches lost')}}</th>
			<th class="text-center">{{_('Sets won')}}</th>
			<th class="text-center">{{_('Sets lost')}}</th>
		</tr>
	</thead>
	<tbody>
		{% for player in tour.players %}
		{% set sets = player.sets_played(tour.id)%}
		<tr>
			<td>{{player.playername}}</td>
			<td class="text-center">{{player.matches_played(tour.id)}}</td>
			<td class="text-center">{{player.matches_won(tour.id)}}</td>
			<td class="text-center">{{player.matches_lost(tour.id)}}</td>
			<td class="text-center">{{sets.won}}</td>
			<td class="text-center">{{sets.lost}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
