<div class="pull-right">
  {{_('Created by ')}} <a href="https://www.linkedin.com/in/rafael-bermúdez-horcajada-4469bb109" title="Open website developer linkedin profile"><i class="fa fa-linkedin"></i> Rafael Bermúdez Horcajada</a>
</div>

<div class="clearfix"></div>
<div class="pull-right">
  {{_('Based on ')}} <a href="https://puikinsh.github.io/gentelella/" title="Open website developer linkedin profile"><i class="fa fa-github"></i> Gentelella Dashboard</a> by Puikinsh
</div>
<div class="clearfix"></div>